#error-container {
    color: #d9534f;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    display: none; /* Caché initialement */
}

#error-container p {
    margin: 0;
    padding: 5px 0;
}

.error-icon {
    color: #d9534f;
    font-size: 18px;
    margin-right: 5px;
}